body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background: #f2f2f2;
}

.movie-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 25px;
  padding: 30px;
}

.movie-card {
  background: white;
  padding: 15px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.15);
  transition: transform 0.2s;
}

.movie-card:hover {
  transform: scale(1.05);
}

.movie-card img {
  width: 100%;
  border-radius: 10px;
}

.description {
  font-size: 14px;
  color: #444;
}

.loading {
  text-align: center;
  padding: 50px;
  font-size: 28px;
}